@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Splash&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
              /* Josefin Sans */
    margin: 1px 0 0 3px;
    padding: 0;
    /* font-weight: 100; */
    font-size: 20px;
    outline: none;
  
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6563FF;
}

.container-all{
    padding: 18px;
    display: flex;
    /* flex-wrap:wrap ; */
    flex-direction: column;
    background: #eee;
    max-width: 700px !important;
    width: 500px;
    height:
    fit-content;
    border-radius: 9px;
}
.container-items{
    display: flex;
    flex-direction: column;
    /* border:1px solid red; */
    width: 100%;
    

}
.container-items article{
    display: flex;
    width: 100%;

}
.container-items article .container{
   background: #fff;
   width: 40%;
   height: 17vh;
   position: relative;
   border-radius: 9px;
   margin: 4px;
   box-shadow: 0px 0px 12px rgba(10, 9, 9, 0.1);
   /* animation: ident  1s; */
   transition: all .8s ease;
   cursor: pointer;
}
.container div{
    width: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 10vh;
    cursor: pointer;
}
.container div img{
    width: 100%;
}

.container div:nth-child(1){
    z-index: 10;
    pointer-events: none;

}

.container div:nth-child(2){
   opacity: 0;
   pointer-events: none;
  
}
.disabled{
   opacity: .6;
    pointer-events: none;
}
.disable{
    /* background-color: red !important; */
   opacity: .9;
    pointer-events: none;
}

.Rotate{
    transform: rotate3d(0,1,0,180deg);
}

.Front{
   /* margin:-0px 14px; */
   font-size: 54px;
   color:#4ba5ee;
   text-align: center;
}
.Rotate div:nth-child(1){
    z-index: 0;
    display: none;
}
.Rotate div:nth-child(2){
    z-index: 10;
   opacity: 1;
   margin: 0 auto;
}
.Rotate div:nth-child(2) img{
 
   margin-left: -4px;
}


.shake{
    animation: ident 0.30s ease;
   
}


@keyframes ident {
  0%,100%{transform: translateX(0);}
  20%{transform: translateX(10px);}
  40%{transform: translateX(-10px);}
  60%{transform: translateX(8px);}
  80%{transform: translateX(-8px);}
}

.footer{
    margin:10px 0;
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .Resreshe{
    background: rgba(137, 43, 226, 0.826);
    color:#fff;
    padding:7px 14px;
    border:none;
    transition: all .5s ease;

}
.footer .Resreshe:hover{
    background: rgb(137, 43, 226);
    cursor: pointer;
    

}
.disabl{
    pointer-events: none;
    opacity: .8;
}

@media (max-width:570px) {
    .container-all {
        padding: 18px;
        display: flex;
        flex-direction: column;
        background: #eee;
        max-width: 600px !important;
        width: 400px;
        height: fit-content;
        border-radius: 9px;
        font-size: 10px;
    }
    .container-items article .container {
        background: #fff;
        width: 40%;
        height: 13vh;
        position: relative;
        border-radius: 9px;
        margin: 4px;
        box-shadow: 0px 0px 12px rgba(10, 9, 9, 0.1);
        transition: all .8s ease;
        cursor: pointer;
    }
    .Rotate div:nth-child(2) {
        z-index: 10;
        opacity: 1;
        margin: 0px auto;
        height: 50px;
        font-size: 40px;

    }
}
